*{
  box-sizing: border-box;
}
body{
  margin:0;
  padding: 0;
  background-color: #e9ebee;
  color: #1d2129;
}
.Navbar{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 5px;
  display: block;
  position: relative;
  color: #e9ebee;
  background-color: #4167b2;
  height: 30px;
  font-weight: bold;
  
}

.Input,.Post{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: 1px solid hsl(216,8%,88%);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 576px;
  margin:20px auto;
  background-color: #ffffff;
}

.Input__header{
  
  background-color: #f5f6f7 ;
  border-bottom: 1px solid #dddfe2;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  margin: 0;
  padding: 15px;
}

.Input__field{
  width: 100%;
  height: 100px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color: #ffffff;
  border: 0px;
}
.Input__field:focus{
  outline: none;
}

.Post {
  padding: 15px;
}
.Post__image{
  width: 100%;
  margin-top: 15px;
}

.Post__delete{
  border:0px;
  background: none;
  padding: 0;
  float:right;
  cursor: pointer;
}